PORT = 8000
DB_URI = 'mongodb://localhost:27017/e-commerce_db'

# cloudinary
CLOUDINARY_CLOUD_NAME = ''
CLOUDINARY_API_KEY = ''
CLOUDINARY_API_SECRET = ''

# jwt
JWT_SECRET = 'secret'
JWT_EXPIRES_IN = '7d'